
 .job-wrapper {
    display: flex !important;
    min-height: 100vh; 
    align-items: stretch;
}
header{height: 80px !important;}

aside {
    margin-top: 10px;
    position: fixed !important;
    top: 70px !important; 
    left: 0 !important;
    width: 260px !important;
    height: calc(100vh - 130px) !important; 
    z-index: 9999 !important;
    background: #f4e6f3 !important;
    overflow-y: auto !important;
}


main {
    margin-left: 260px !important; 
    margin-top: 70px !important;  
    margin-bottom: 60px !important; 
    padding: 40px !important;
    padding-right: 0%;
    min-height: calc(100vh - 130px) !important;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
}
main h3{ 
    font-size: 23px;
}
body h2{ 
    font-size: 30px;
    margin-left: 0%;}

table {
    width: 700px;

    border-collapse: collapse; 
    margin-left: 0px ;
    background: white;
    border-radius: 8px;
    overflow: hidden; 
}

table th, table td {
    margin-left: 20px;
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
td{
    font-style:oblique;
    color: #454e64;
    font-weight:500;
}

table th {
    font-size: 18px;
    background-color: #8e288e;
    color: white;
}


table tr:hover {
    background-color: #f1f5f9;
}


aside h3{ 
    font-size: auto;
    position:unset;
    margin-bottom: 10px;
    margin-right: 10px;
}
aside ul{
    
    list-style: none;
}

aside ul li {
    margin-bottom: 15px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

aside ul li a:hover {
    color: #001f75;
}
footer {
    position: fixed !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 60px !important;
    background-color: white !important;
    z-index: 10002 !important;
    
    
    display: flex !important;
    justify-content: center !important; 
    align-items: center !important;     
    
    border-top: 2px solid #eee !important; 
    
    color: #555 !important;
    font-size: 20px !important;
    margin: 0 !important;
}