aside {
    position: fixed;
    top: 70px;
    left: 400;
    width: 260px;
    height: calc(100vh - 130px);
    background: #f4e6f3;
    padding: 20px;
    z-index: 9999;
    overflow-y: auto;
}
.stats-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap; 
    padding: 20px 0;
    border: #c056a5;
}

.dashboard-wrapper {
    display: flex;
    width: 100%;
}

main {
    margin-left: 260px;
    margin-top: 70px;
    margin-bottom: 60px; 
    padding: 40px;
    flex-grow: 1;
    background-color: #f8fafc;
    min-height: calc(100vh - 130px);
}

main h2 {
    font-size: 32px; 
    font-weight: bold; 
    color: #333;
    margin-bottom: 25px; 
    padding-left: 5px; 
}

.card {
    min-width: 250px;
    font-size:x-large;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 12px 10px rgba(0,0,0,0.1);
    flex: 1; 
    text-align: center;
    border: #872f78;
}

.card h3 {
    font-size: 18px;
    color: #3f4750;
    margin-bottom: 18px;
    box-shadow: #0f1422;
}

.card strong {
    font-size: 28px;
    color: #7a2e6c;
}


aside ul {
    list-style: none;
}

aside ul li {
    margin-bottom: 15px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

aside ul li a:hover {
    color: #6b2e62;
}
